body{}

.denis{
	background-color: black;
}

.konstantin{
	background-color: #000066;
}

.chengyin{
	background-color: #990000;
}

.terence{
	background-color: #333300;
}

.mike{
	background-color: #0099CC;
	color: #000000;
}

.yue{
	background-color: #FF6633;
	color: #000000;
}
